.fill-available-container {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@supports (height: -webkit-fill-available) {
  .fill-available-container {
    height: -webkit-fill-available;
  }
}
